<nav class="header">
    <div class="container">
      <ul class="nav-links">
        <li><a href="#home"><i class="fas fa-home"></i> HOME</a></li>
        <li><a href="#about"><i class="fas fa-user"></i> ABOUT</a></li>
        <li><a href="#skills"><i class="fas fa-cogs"></i> SKILLS</a></li>
        <li><a href="#cv"><i class="fas fa-file-alt"></i> CV</a></li>
        <li><a href="#portfolio"><i class="fas fa-briefcase"></i> PORTFOLIO</a></li>
        <li><a href="#references"><i class="fas fa-comments"></i> REFERENCES</a></li>
        <li><a href="#contact"><i class="fas fa-envelope"></i> CONTACT ME</a></li>
      </ul>
      <!-- <div class="language-toggle">
        <button (click)="setLanguage('en')">
          <i class="fas fa-globe"></i> English
        </button>
        <button (click)="setLanguage('fr')">
          <i class="fas fa-language"></i> Français
        </button>
      </div> -->
    </div>
  </nav>
  